!---- BBInterface 0.9.9_k10b ----
@BBInterface Plugin SetPluginProperty SnapWindows false
@BBInterface Plugin SetPluginProperty SnapDistance 0
@BBInterface Plugin SetPluginProperty SnapPadding 0
@BBInterface Plugin SetPluginProperty IconSaturation 255
@BBInterface Plugin SetPluginProperty IconHue 0
@BBInterface Plugin SetPluginProperty DeskDropCommand ""
@BBInterface Plugin SetPluginProperty GlobalOnload ""
@BBInterface Plugin SetPluginProperty GlobalOnunload ""
@BBInterface Plugin SetPluginProperty ClickRaise false
@BBInterface Plugin SetPluginProperty SuppressErrors true
@BBInterface Plugin SetPluginProperty ZeroControlsAllowed false
@BBInterface Plugin SetPluginProperty UseTooltip false
@BBInterface Plugin SetPluginProperty ClearConfigurationOnLoad false
@BBInterface Plugin SetPluginProperty ModuleAutoSave true
@BBInterface Plugin OnLoad ""
@BBInterface Plugin OnUnload ""

!---- Frame1 ----
@BBInterface Control Create Frame Frame1
@BBInterface Control SetWindowProperty Frame1 X -1361
@BBInterface Control SetWindowProperty Frame1 Y 5
@BBInterface Control SetWindowProperty Frame1 Width 600
@BBInterface Control SetWindowProperty Frame1 Height 20
@BBInterface Control SetWindowProperty Frame1 Border true
@BBInterface Control SetWindowProperty Frame1 IsVisible true
@BBInterface Control SetWindowProperty Frame1 Style "Toolbar"
@BBInterface Control SetWindowProperty Frame1 IsToggledWithPlugins true
@BBInterface Control SetWindowProperty Frame1 IsOnAllWorkspaces true
@BBInterface Control SetWindowProperty Frame1 DetectFullScreen false
@BBInterface Control SetWindowProperty Frame1 IsOnTop false
@BBInterface Control SetWindowProperty Frame1 AutoHide false
@BBInterface Control SetWindowProperty Frame1 IsSlitted false
@BBInterface Control SetWindowProperty Frame1 IsTransparent false
@BBInterface Control SetWindowProperty Frame1 Transparency 100
@BBInterface Control SetWindowProperty Frame1 MakeInvisible "Never"
@BBInterface Control SetControlProperty Frame1 HAlign "Center"
@BBInterface Control SetControlProperty Frame1 VAlign "Top"
@BBInterface Control SetControlProperty Frame1 HasTitleBar false
@BBInterface Control SetControlProperty Frame1 IsLocked false
@BBInterface Control SetAgent Frame1 Caption SystemMonitor "PageFileUsed"

!---- Frame1::UpIcon ----
@BBInterface Control CreateChild Frame1 Label UpIcon
@BBInterface Control SetWindowProperty UpIcon X 262
@BBInterface Control SetWindowProperty UpIcon Y 0
@BBInterface Control SetWindowProperty UpIcon Width 20
@BBInterface Control SetWindowProperty UpIcon Height 20
@BBInterface Control SetWindowProperty UpIcon Border true
@BBInterface Control SetWindowProperty UpIcon IsVisible true
@BBInterface Control SetWindowProperty UpIcon Style "Clock"
@BBInterface Control SetControlProperty UpIcon HAlign "Center"
@BBInterface Control SetControlProperty UpIcon VAlign "Center"
@BBInterface Control SetAgent UpIcon Image Bitmap "D:\Win7Mods\Icons\minis\up.png"
@BBInterface Control SetAgentProperty UpIcon Image Scale 100
@BBInterface Control SetAgentProperty UpIcon Image VAlign "Center"
@BBInterface Control SetAgentProperty UpIcon Image HAlign "Center"

!---- Frame1::UpSpeed ----
@BBInterface Control CreateChild Frame1 Label UpSpeed
@BBInterface Control SetWindowProperty UpSpeed X 286
@BBInterface Control SetWindowProperty UpSpeed Y 0
@BBInterface Control SetWindowProperty UpSpeed Width 70
@BBInterface Control SetWindowProperty UpSpeed Height 20
@BBInterface Control SetWindowProperty UpSpeed Border false
@BBInterface Control SetWindowProperty UpSpeed IsVisible true
@BBInterface Control SetWindowProperty UpSpeed Style "Toolbar"
@BBInterface Control SetControlProperty UpSpeed HAlign "Center"
@BBInterface Control SetControlProperty UpSpeed VAlign "Center"
@BBInterface Control SetAgent UpSpeed Caption NetworkMonitor "ALLInterfaces"
@BBInterface Control SetAgentProperty UpSpeed Caption MonitorType 2

!---- Frame1::DownIcon ----
@BBInterface Control CreateChild Frame1 Label DownIcon
@BBInterface Control SetWindowProperty DownIcon X 160
@BBInterface Control SetWindowProperty DownIcon Y 0
@BBInterface Control SetWindowProperty DownIcon Width 20
@BBInterface Control SetWindowProperty DownIcon Height 20
@BBInterface Control SetWindowProperty DownIcon Border true
@BBInterface Control SetWindowProperty DownIcon IsVisible true
@BBInterface Control SetWindowProperty DownIcon Style "Clock"
@BBInterface Control SetControlProperty DownIcon HAlign "Center"
@BBInterface Control SetControlProperty DownIcon VAlign "Center"
@BBInterface Control SetAgent DownIcon Image Bitmap "D:\Win7Mods\Icons\minis\down.png"
@BBInterface Control SetAgentProperty DownIcon Image Scale 100
@BBInterface Control SetAgentProperty DownIcon Image VAlign "Center"
@BBInterface Control SetAgentProperty DownIcon Image HAlign "Center"

!---- Frame1::DownSpeed ----
@BBInterface Control CreateChild Frame1 Label DownSpeed
@BBInterface Control SetWindowProperty DownSpeed X 188
@BBInterface Control SetWindowProperty DownSpeed Y -1
@BBInterface Control SetWindowProperty DownSpeed Width 63
@BBInterface Control SetWindowProperty DownSpeed Height 21
@BBInterface Control SetWindowProperty DownSpeed Border false
@BBInterface Control SetWindowProperty DownSpeed IsVisible true
@BBInterface Control SetWindowProperty DownSpeed Style "Toolbar"
@BBInterface Control SetControlProperty DownSpeed HAlign "Center"
@BBInterface Control SetControlProperty DownSpeed VAlign "Center"
@BBInterface Control SetAgent DownSpeed Caption NetworkMonitor "ALLInterfaces"
@BBInterface Control SetAgentProperty DownSpeed Caption MonitorType 1

!---- Frame1::CPUIcon ----
@BBInterface Control CreateChild Frame1 Label CPUIcon
@BBInterface Control SetWindowProperty CPUIcon X 0
@BBInterface Control SetWindowProperty CPUIcon Y 0
@BBInterface Control SetWindowProperty CPUIcon Width 20
@BBInterface Control SetWindowProperty CPUIcon Height 21
@BBInterface Control SetWindowProperty CPUIcon Border true
@BBInterface Control SetWindowProperty CPUIcon IsVisible true
@BBInterface Control SetWindowProperty CPUIcon Style "Clock"
@BBInterface Control SetControlProperty CPUIcon HAlign "Center"
@BBInterface Control SetControlProperty CPUIcon VAlign "Center"
@BBInterface Control SetAgent CPUIcon Image Bitmap "D:\Win7Mods\Icons\minis\cpu.png"
@BBInterface Control SetAgentProperty CPUIcon Image Scale 100
@BBInterface Control SetAgentProperty CPUIcon Image VAlign "Center"
@BBInterface Control SetAgentProperty CPUIcon Image HAlign "Center"
@BBInterface Control SetAgent CPUIcon RightMouseUp Run "C:\Windows\System32\perfmon.exe"

!---- Frame1::CPUData ----
@BBInterface Control CreateChild Frame1 Label CPUData
@BBInterface Control SetWindowProperty CPUData X 32
@BBInterface Control SetWindowProperty CPUData Y -1
@BBInterface Control SetWindowProperty CPUData Width 32
@BBInterface Control SetWindowProperty CPUData Height 21
@BBInterface Control SetWindowProperty CPUData Border false
@BBInterface Control SetWindowProperty CPUData IsVisible true
@BBInterface Control SetWindowProperty CPUData Style "Toolbar"
@BBInterface Control SetControlProperty CPUData HAlign "Center"
@BBInterface Control SetControlProperty CPUData VAlign "Center"
@BBInterface Control SetAgent CPUData Caption SystemMonitor "CPUUsage"

!---- Frame1::RAMIcon ----
@BBInterface Control CreateChild Frame1 Label RAMIcon
@BBInterface Control SetWindowProperty RAMIcon X 75
@BBInterface Control SetWindowProperty RAMIcon Y 0
@BBInterface Control SetWindowProperty RAMIcon Width 20
@BBInterface Control SetWindowProperty RAMIcon Height 20
@BBInterface Control SetWindowProperty RAMIcon Border true
@BBInterface Control SetWindowProperty RAMIcon IsVisible true
@BBInterface Control SetWindowProperty RAMIcon Style "Clock"
@BBInterface Control SetControlProperty RAMIcon HAlign "Center"
@BBInterface Control SetControlProperty RAMIcon VAlign "Center"
@BBInterface Control SetAgent RAMIcon Image Bitmap "D:\Win7Mods\Icons\minis\ram.png"
@BBInterface Control SetAgentProperty RAMIcon Image Scale 100
@BBInterface Control SetAgentProperty RAMIcon Image VAlign "Center"
@BBInterface Control SetAgentProperty RAMIcon Image HAlign "Center"
@BBInterface Control SetAgent RAMIcon RightMouseUp Run "C:\Windows\System32\taskmgr.exe"

!---- Frame1::RAMData ----
@BBInterface Control CreateChild Frame1 Label RAMData
@BBInterface Control SetWindowProperty RAMData X 108
@BBInterface Control SetWindowProperty RAMData Y -1
@BBInterface Control SetWindowProperty RAMData Width 35
@BBInterface Control SetWindowProperty RAMData Height 21
@BBInterface Control SetWindowProperty RAMData Border false
@BBInterface Control SetWindowProperty RAMData IsVisible true
@BBInterface Control SetWindowProperty RAMData Style "Toolbar"
@BBInterface Control SetControlProperty RAMData HAlign "Center"
@BBInterface Control SetControlProperty RAMData VAlign "Center"
@BBInterface Control SetAgent RAMData Caption SystemMonitor "PhysicalMemoryUsed"
