# -----------------------------------------------------------------
# bblean 1.17 - MENU FILE
# -----------------------------------------------------------------

# Available menu commands are listed in the documentation.

[begin] (Menu)

	[submenu] (Launch) <shell32.dll,25>
		[exec] (Internet) {C:\Program Files (x86)\Nightly\firefox.exe} <"C:\Program Files (x86)\Nightly\firefox.exe">
		[exec] (Steam) {E:\Steam\steam.exe} <"E:\Steam\Steam.exe"> 
		[exec] (IRC) {C:\Program Files\HexChat\hexchat.exe} <"C:\Program Files (x86)\HexChat\hexchat.exe">
		[exec] (TeamSpeak) {C:\Program Files\TeamSpeak 3 Client\ts3client_win64.exe} <"C:\Program Files\TeamSpeak 3 Client\ts3client_win64.exe">
		[exec] (Music) {C:\Program Files (x86)\foobar2000\foobar2000.exe} <"C:\Program Files (x86)\foobar2000\foobar2000.exe">
		[exec] (Photoshop) {C:\Program Files (x86)\Adobe\Adobe Photoshop CS5\Photoshop.exe} <"C:\Program Files (x86)\Adobe\Adobe Photoshop CS5\Photoshop.exe">
		[exec] (Cygwin)	{C:\Cygwin32\bin\mintty.exe -i /Cygwin-Terminal.ico -} <"C:\Cygwin\Cygwin.ico">
			[nop]
			[submenu] (Misc) <shell32.dll,25>
			[path] (x86) {C:\Program Files (x86)}
			[path] (x64) {C:\Program Files} 
			[exec] (Portable) {D:\DOWNLOADS\MiscPrograms} <imageres.dll,60>
			[path] (Drives)	{DRIVES}
			[exec] (Bin) {shell:RecycleBinFolder} <imageres.dll,28>
			[Run] (Run) <shell32.dll,25>
			[end]
			[end]

	[submenu] (Settings) <imageres.dll,110>
		[config] (Configuration)
		[path] (Controls) {CONTROLS}
		[stylesmenu] (Styles) {C:\bbzero\styles}
		[include] {plugins\bbLeanSkin\bbLeanSkinMenu.rc}
		[submenu] (Edit)
			[editstyle] (Current Style)
			[editmenu] (menu.rc)
			[editblackbox] (blackbox.rc)
			[editextensions] (extensions.rc)
			[editplugins] (plugins.rc)
			[edit] (bbKeys.rc) {plugins\bbKeys\bbKeys.rc}
			[end]
			[nop]
			[exec] (Install/Uninstall) {bsetshell.exe}
			[reconfig] (Reconfigure)
			[restart] (Restart)
			[end]
	[submenu] (Goodbye) <imageres.dll,113>
		[logoff] (Logoff)
		[reboot] (Reboot)
		[shutdown] (Shutdown)
		[end]
[end]
