bbIconBox.id.count: 2
bbIconBox.id.1: Quick Launch
bbIconBox.id.2: tray
bbIconBox.id.3: tray
bbIconBox.Desktop.placement: Left
bbIconBox.Desktop.position.x: -1360
bbIconBox.Desktop.position.y: -449
bbIconBox.Desktop.useSlit: false
bbIconBox.Desktop.alwaysOnTop: false
bbIconBox.Desktop.AutoHide: true
bbIconBox.Desktop.clickRaise: true
bbIconBox.Desktop.snapWindow: 20
bbIconBox.Desktop.pluginToggle: true
bbIconBox.Desktop.alpha.enabled: false
bbIconBox.Desktop.alpha.value: 192
bbIconBox.Desktop.icon.saturation: 80
bbIconBox.Desktop.icon.hue: 60
bbIconBox.Desktop.orientation: vertical
bbIconBox.Desktop.path: DESKTOP
bbIconBox.Desktop.title: Desktop
bbIconBox.Desktop.rows: 4
bbIconBox.Desktop.columns: 2
bbIconBox.Desktop.icon.size: 16
bbIconBox.Desktop.drawTitle: false
bbIconBox.Desktop.drawBorder: true
bbIconBox.Desktop.toolTips: true
bbIconBox.Quick+Launch.placement: BottomLeft
bbIconBox.Quick+Launch.position.x: -1366
bbIconBox.Quick+Launch.position.y: 201
bbIconBox.Quick+Launch.useSlit: true
bbIconBox.Quick+Launch.alwaysOnTop: true
bbIconBox.Quick+Launch.AutoHide: true
bbIconBox.Quick+Launch.clickRaise: true
bbIconBox.Quick+Launch.snapWindow: 20
bbIconBox.Quick+Launch.pluginToggle: true
bbIconBox.Quick+Launch.alpha.enabled: false
bbIconBox.Quick+Launch.alpha.value: 192
bbIconBox.Quick+Launch.icon.saturation: 100
bbIconBox.Quick+Launch.icon.hue: 60
bbIconBox.Quick+Launch.icon.size: 32
bbIconBox.Quick+Launch.orientation: vertical
bbIconBox.Quick+Launch.path: APPDATA\Microsoft\Internet Explorer\Quick Launch
bbIconBox.Quick+Launch.title: Quick Launch
bbIconBox.Quick+Launch.rows: 4
bbIconBox.Quick+Launch.columns: 2
bbIconBox.Quick+Launch.drawTitle: false
bbIconBox.Quick+Launch.drawBorder: true
bbIconBox.Quick+Launch.toolTips: true
bbIconBox.tray.placement: Left
bbIconBox.tray.position.x: -1360
bbIconBox.tray.position.y: -459
bbIconBox.tray.useSlit: false
bbIconBox.tray.alwaysOnTop: true
bbIconBox.tray.AutoHide: true
bbIconBox.tray.clickRaise: true
bbIconBox.tray.snapWindow: 20
bbIconBox.tray.pluginToggle: true
bbIconBox.tray.alpha.enabled: false
bbIconBox.tray.alpha.value: 192
bbIconBox.tray.icon.saturation: 80
bbIconBox.tray.icon.hue: 60
bbIconBox.tray.icon.size: 16
bbIconBox.tray.orientation: vertical
bbIconBox.tray.path: TRAY
bbIconBox.tray.title: tray
bbIconBox.tray.rows: 4
bbIconBox.tray.columns: 2
bbIconBox.tray.drawTitle: false
bbIconBox.tray.drawBorder: true
bbIconBox.tray.toolTips: true
bbIconBox.tray.style: Toolbar Window Label
