@font-face {
    font-family:"calibri-webfont";
    font-style:normal;
    font-weight:600;
src:local("calibri-webfont"), local("calibri-webfont"), url("C:\Windows\Fonts\calibri-webfont.ttf") format("ttf");
}
@-webkit-keyframes animate-sites {
    0% { transform:scale(0); opacity:0; }
    25% { opacity:1; }
    100% { transform:scale(1); }
}
@-moz-keyframes animate-sites {
    0% { transform:scale(0); opacity:0; }
    25% { opacity:1; }
    100% { transform:scale(1); }
}
@-webkit-keyframes animate-opacity {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes animate-opacity {
    0% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes animate-panel {
    0% { box-shadow:none; height:0px; }
    100% { box-shadow:#c4c4c4 0 0 10px; height:275px; }
}
@-moz-keyframes animate-panel {
    0% { box-shadow:none; height:0px; }
    100% { box-shadow:none 0 0 10px; height:275px; }
}
*:focus {
    outline:none!important;
    -moz-outline:none!important;
    -moz-user-focus:none!important;
}
body, html {
    background:none;
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}
button, input {
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -moz-appearence:none;
    -webkit-appearance:none;
}
#parent {
    min-height:100%;
    position:relative;
}
#panel {
    background:none;
    border: none;
    border-top:none;
    border-bottom:none;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    height:275px;
    margin:auto;
    box-shadow:none;
    -webkit-animation: animate-panel .3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-animation: animate-panel .3s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
#panel, #sites, #search, button, input {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
#navigation {
    height:28px;
    position:absolute;
    top:-28px;
    width:100%;
    -webkit-animation: animate-opacity .8s ease-in;
    -moz-animation: animate-opacity .8s ease-in;
}
#navigation ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;

}
#wrapper {
    margin:0 auto;
    width:692px;
}
#sites {
    height:230px;
    padding:5px 10px;
    text-align:center;
}
#sites a {
    background:none;
    border:1px solid #919191;
    border-bottom:1px solid #919191;
    color:rgb(61,61,61);
    display:inline-block;
    font-family:'calibri-webfont';
    font-size:200%;
    height:100px;
    line-height:100px;
    margin:5px;
    position:relative;
    text-align:center;
    text-decoration:none;
    text-shadow:#c4c4c4  0px 0px 5px;
    width:100px;
    z-index:1;
    border-radius:0px;
    box-shadow:inset #c4c4c4 0 0px 0px;
    -webkit-transition: all .4s cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
    -moz-transition: all .4s cubic-bezier(0.680, -0.550, 0.265, 1.550) .1s;
    -webkit-animation: animate-sites .4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-animation: animate-sites .4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
#sites a:hover, #sites a:active {
    background:none;
    border:none;
    color:rgb(94, 0, 22);
    transform:scale(1.5);
    -webkit-transform:scale(1.5);
    box-shadow:none;
    text-shadow:#eaeaea 0px 0px 5px, #c4c4c4 0px 1px, #c4c4c4 0px 2px;
    
}
#search {
    height:46px;
    padding:5px 15px;
}
#search form {
    position:relative;
    -webkit-animation: animate-opacity .4s ease-in;
    -moz-animation: animate-opacity .4s ease-in;

}
#search input[type="text"] {
    background:none;
    border:1px solid #919191;
    border-bottom:1px solid #919191;
    width:100%;
    height:33px;
    padding:3px 86px 3px 6px;
    border-radius:0px;
    box-shadow:inset #c4c4c4 0 0 0px;
    font-size: 12pt;
    font-family:'calibri-webfont';
    color: #404040;
}
#search input[type="text"]:hover, #search input[type="text"]:focus {
    box-shadow:inset #c4c4c4 0 0 0px;
    font-family:'calibri-webfont';
    font-size: 12pt;
    color:#3E549C;

}
#search button {
    cursor:pointer;
    font-size:12px;
    position:absolute;
    top:4px;
    right:4px;
    background:-moz-linear-gradient(top, #e9e9e9 0%, #dcdcdc 35%, #cfcfcf 65%, #c2c2c2 101%);
    background:-webkit-linear-gradient(top, #e9e9e9 0%,#dcdcdc 35%,#cfcfcf65%, #c2c2c2 101%);
    border:1px solid rgba(164,164,164,.6);
    color:#404040;
    text-shadow:#a4a4a4 0 1px;
    width:80px;
    height:25px;
    border-radius:3px;
    box-shadow:inset #fefefe 0 0 3px, #a4a4a4 0 0 3px;
}
#search button:hover, #search button:focus {
    background:-moz-linear-gradient(top, #e9e9e9 0%, #dcdcdc 35%, #cfcfcf 65%, #c2c2c2 101%);
    background:-webkit-linear-gradient(top, #e9e9e9 0%, #dcdcdc 35%, #cfcfcf 65%, #c2c2c2 101%);
    border:1px solid rgba(225,225,225,.75);
    box-shadow:inset #fbfbfb 0 0 6px, #404040 0 0 3px;
}
