@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#main-window[sizemode=normal] {
  margin-top: -13px !important;
}

#main-window[sizemode=maximized] {
  margin-top: -1px !important;
}

/**HIDE ME**/
#appmenu-button dropmarker,
#identity-box,
#urlbar-icons > image,
#urlbar-container dropmarker,
#urlbar-reload-button,
.urlbar-history-dropmarker,
#tabbrowser-tabs .scrollbutton-up,
#tabbrowser-tabs .scrollbutton-down,
toolbar#addon-bar toolbarbutton .toolbarbutton-menubutton-dropmarker,
toolbar#addon-bar #addonbar-closebutton,
#searchbar-container dropmarker
#browser-border-start, #browser-border-end,
#star-button,
#page-proxy-favicon,
#go-button,
#notification-popup-box,
#browser-border-start,
#browser-border-end,
statusbarpanel,
#appmenu-toolbar-button > .toolbarbutton-text,
#appmenu-toolbar-button > .toolbarbutton-menu-dropmarker{
display: none !important;
}

select > button,
select > input {
  opacity: 0 !important;
}

#content[disablehistory] {
background-color: #161616 !important;
}

#_dlbar_finTipContent {
background: #fafafa !important;
border: 1px solid gray !important;
border-radius: 0px !important
}

/**TABS**/

#TabsToolbar{
  margin-left: -6px !important;
  margin-right: -6px !important;
  border: none !important;
}

#main-window .tabbrowser-tab {
  border: 0 !important;
  background: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

#main-window .tabbrowser-tab:first-of-type .tab-stack {
  border-top-left-radius: 0px !important;
}

#main-window .tabbrowser-tab:last-of-type .tab-stack {
  border-top-right-radius: 0px !important;
}

tab {
  font-family: "Open Sans", sans-serif !important;
  text-align: center !important;
  font-size: 9pt !important;
  margin-top
}

#main-window #tabbrowser-tabs tab[fadein]:not([pinned]) {
  min-width: 10px !important;
  max-width: 160px !important;
}

.tabbrowser-tab:not([pinned]) .tab-throbber,
.tabbrowser-tab:not([pinned]) .tab-icon-image {
   visibility: collapse !important;
}

#main-window .tabbrowser-tab .tab-stack {
  height: 26px !important;
  min-height: 26px !important;
}

#tabbrowser-tabs tab .tab-close-button {
opacity:0!important;
margin-right: -5px !important;
}
 
#tabbrowser-tabs tab .tab-close-button:hover {
opacity:1!important;
margin-right: -5px !important;
}

/* Standard Tabs */

#main-window .tabbrowser-tab > .tab-stack {
  border-width: 1px 0 0 1px !important;
  border-style: solid !important;
  border-top-color: rgba(71,79,115,.20) !important;
  border-left-color: rgba(71,79,115,.20) !important;
  background-clip: padding-box !important;
  border-radius: 0 !important;
  padding: 0 5px !important;
  margin-top: 1px !important;
  margin-left: -1px !important;
  box-shadow: 0px -1px 0px rgba(20,23,26,.04),
              0px  1px 0px rgba(255,255,255,.25) inset,
              1px  0px 0px rgba(255,255,255,.15) inset,
             -1px  0px 0px rgba(255,255,255,.15) inset !important;
}

#main-window #tabbrowser-tabs tab[pinned] .tab-stack {
  padding: 0 2px !important;
}

#main-window #tabbrowser-tabs tab[fadein]:not([pinned]):first-of-type .tab-stack,
#main-window #tabbrowser-tabs tab[pinned]:first-of-type .tab-stack {
  margin-left: 0px !important;
  border-left-color: rgba(71,79,115,.25) !important;
}

#main-window .tabbrowser-tab:last-of-type > .tab-stack {
  border-right: 1px solid rgba(71,79,115,.25) !important;
}

#main-window .tabbrowser-tab > .tab-stack:not(:-moz-lwtheme)  {
  background-color: #e6e6e6 !important;
  box-shadow: inset 0 -5px 15px -15px rgba(0, 0, 0, .3) !important;
  color: #666 !important;
}


/* Tab Hover */

.tabbrowser-tab:-moz-any(:not([pinned]),[pinned]:not([titlechanged])):not([selected]):hover > .tab-stack {
  background-color: #efefef !important;
}

/* Selected Tab */

#main-window .tabbrowser-tab[selected] .tab-stack {
  background-color: #ebebeb !important;
  box-shadow: none !important;
  color: #555 !important;
}

/* Pinned tab titlechange */

.tabbrowser-tab[titlechanged] .tab-icon-image {
  animation: newpost .9s ease infinite; 
}

.tabbrowser-tab[titlechanged] {}
@keyframes newpost {
  25% {  transform: scale(1.1);   }
}

#main-window #tabbrowser-tabs tab .tab-throbber,
#main-window #tabbrowser-tabs tab .tab-icon-image {
max-height:14px!important;
max-width:14px!important;
margin-top:1px!important;
}

/*URL BAR*/

#main-window[sizemode=normal] #browser-bottombox {
  border: 0 !important;
}

#navigator-toolbox {
  margin-bottom: -1px !important; 
}

/* URL CONTAINER */

#nav-bar {
  border-radius: 0 !important;
  background: #ebebeb !important;
  -moz-appearance: none !important;
  border-right: none !important;
  border-left: none !important;
  padding: 5px 0 !important;
  margin-top: 1px !important;
  margin-bottom: -1px !important;
  border-bottom: none !important;
  border-top: none !important;
}

#main-window[sizemode=maximized] #nav-bar {
  margin-top: -1px !important;
}

/* Actual URL */

#urlbar {
  background: #fcfcfc !important;
  height: 26px !important;
  font-family:"Open Sans", sans-serif !important;
  font-size: 10pt !important;
  margin-top: -2px !important;
  padding: 3px 0px 2px 25px !important;
  border-color: #ddd !important;
  border-width: 1px !important;
  border-radius: 0px !important;
  text-align: center!important;
}


/* URL bar drop down */

#PopupAutoCompleteRichResult:not([width]) {
  opacity: 0!important;
}

#PopupAutoCompleteRichResult {
  -moz-transition: opacity .15s linear 0s !important;
  padding: 0 !important;
  margin-top: -1px !important;
  border: 1px solid hsla(0,0%,50%,.5) !important;
  background: Window padding-box!important;
  -moz-appearance: none!important;
  border-radius: 1px;
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox {
  background: transparent -moz-linear-gradient(left, hsla(0,0%,95%,.5) 27px, hsla(0,0%,83%,.5) 28px, transparent 0) repeat-y !important;
  background-size: 28px auto!important;
  margin: 1px !important;
}

#PopupAutoCompleteRichResult .ac-site-icon {
  margin: 0 12px 0 0 !important;
}

#PopupAutoCompleteRichResult .ac-title-box {
  margin: 0!important;
  padding: 0!important;
}

#PopupAutoCompleteRichResult .ac-url-box {
  margin: 1px 0 0 0 !important;
  padding: 0!important;
  -moz-transition: opacity .21s linear 0.02s, -moz-transform .21s ease-out 0.02s !important;
  font-size: 95.5% !important;
}

#PopupAutoCompleteRichResult .ac-extra {
  color: hsla(210,15%,44%,1) !important;
}

.autocomplete-richlistitem {
  border-radius: 0 !important;
  outline: 0px!important;
  border: 1px solid transparent !important;
  border-bottom-color: transparent !important;
  border-top: 1px solid hsla(0,0%,97.5%,.22) !important;
  box-shadow: none !important;
  padding: 3px 5px !important;
  margin: 0 !important;
}

.autocomplete-richlistitem[current] + .autocomplete-richlistitem, .autocomplete-richlistitem:first-child {
  border-top-color: transparent !important;
}

.autocomplete-richlistitem[type*="uggest"] {
  background-color: hsla(0,0%,97.5%,.5) !important;
}

.autocomplete-richlistitem[actiontype="switchtab"] .ac-title .ac-normal-text.ac-comment:before {
  content: "\a0Switch to tab:\a0";
  background: hsla(210,35%,87%,.2) border-box !important;
  box-shadow: inset hsla(210,50%,35%,.15) 0 0 0 1px, inset hsla(0,0%,100%,.2) 0 0 0 2px !important;
  border-radius: 2px !important;
  -moz-margin-end: .4ex!important;
  pointer-events: none;
}

.autocomplete-richlistitem[actiontype="switchtab"] .ac-url .ac-normal-text.ac-action-text {
  visibility: collapse!important;
}

.autocomplete-richlistitem[actiontype="switchtab"] .ac-normal-text.ac-url-text {
  visibility: visible!important;
}

/* Icon replacements*/

toolbarbutton {
  margin: 0 5px !important;
}

#downloads-indicator-icon {
margin-left: -5px !important;
margin-right: -5px !important;
opacity: .7 !important;
}

#main-window:not([privatebrowsingmode]) #appmenu-button{
background-image: url('http://i.imgur.com/0S0Lr.png') !important;
opacity: .7 !important;
background-repeat: no-repeat !important;
background-position: center !important;
width: 20px !important;
margin-right: 2px !important;
margin-left: 5px !important;
position: relative !important;
border:none !important;
box-shadow: none !important;
}

#main-window:not([privatebrowsingmode]) #appmenu-button .button-box .button-icon,
#appmenu-button-container { display:none!important; }

#main-window:not([privatebrowsingmode]) #appmenu-button:hover:not(:active):not([open]) {
opacity: 1 !important;
}

#main-window:not([privatebrowsingmode]) #appmenu-button:hover:active,
#main-window:not([privatebrowsingmode]) #appmenu-button[open] {
background-image:none !important;
}

/**SCROLLBAR**/

scrollbar,
scrollbar > slider,
scrollbar > slider > thumb,
scrollbar > scrollbarbutton {
  -moz-appearance: none !important;
}

scrollbar > scrollbarbutton {
  display: none !important;
}

scrollbar,
scrollbar > scrollbarbutton {
  border: none !important;
  background: none !important;
}

scrollbar[orient="vertical"] {
  min-width: 4px !important;
  max-width: 4px !important;
}
scrollbar[orient="horizontal"] {
  min-height: 4px !important;
  max-height: 4px !important;
}

scrollbar[orient='horizontal'] > slider > thumb {
  min-width: 42px !important;
  max-height: 4px !important;
}

scrollbar[orient='vertical'] > slider > thumb {
  min-height: 42px !important;
  max-width: 4px !important;
}

scrollbar > slider {
  background-color: #ebebeb !important;
}

scrollbar > slider > thumb {
  border: none !important;
  background-color: #cbced7 !important;
  border-radius: 16px !important;
  opacity: 1 !important;
}

scrollbar > slider > thumb:hover,
scrollbar > slider > thumb:active {
  background-color: #888 !important;
}

/**ADD-ONS PAGE**/

#categories {
  width:  160px !important;
  font-size : 10px !important;
}

.category {
  padding-top: 0px !important;
  height: 35px !important;
}

#retirement-box {
  height: 60px !important;
}

.category[disabled] {
  display: none !important;
}

.category-icon {
  width:  25px !important;
  height: 25px !important;
}

#addon-list > richlistitem:nth-child(even){
  background: AliceBlue !important;
}

#list-view .addon.addon-view * {
  font-size: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

#list-view > #addon-list .addon.addon-view {
  padding: 0px !important;
}

.content-inner-container{
  -moz-box-orient: horizontal !important;
}

.icon-container ,
.icon-container > .icon {
  width:  16px !important;
  height: 16px !important;
}

.basicinfo-container{
  width:  350px !important;
  -moz-box-align: center !important;
}

.name-container{
  font-size: 100% !important
}

#search-list *,
#addon-list *,
#updates-list{
  border: none !important;
}

#addon-list .addon.addon-view {
  border-bottom: 1px rgb(230,227,218) solid !important;
}

#search-list .addon-control,
#addon-list .addon-control,
#updates-list .addon-control {
  border: 1px solid #888 !important;
}

.details.button-link{
  display: none !important;
}

#list-view > #addon-list .status-control-wrapper{
  width: 250px !important;
}

.control-container>button{
  margin: 1px !important;
}

.addon-control{
  padding: 0px !important;
}


/**ADD ON BAR**/
toolbar#addon-bar
{
font-size: 12pt !important; font-family: 'Open Sans'  !important;
text-shadow:rgba(40,40,40,.7) 0 0 1px!important;
background:#EBEBEB!important;
border: 1px solid #ebebeb !important;
margin-bottom: -1px!important;
margin-left: -1px!important;
margin-right: -1px !important;
max-height:20px!important;
min-height:20px!important;
}
    
toolbar#addon-bar toolbarbutton
{
border:none!important;
max-height:18px!important;
min-height:18px!important;
margin:0!important;
padding:0!important;
-moz-appearance:none!important;
}

scrollbox#PlacesToolbarItems toolbarbutton
{
border:0!important;
border-left:1px solid transparent!important;
border-right:1px solid transparent!important;
max-height:18px!important;
min-height:18px!important;
max-width:24px!important;
min-width:24px!important;
padding:0 0 0 3px!important;
-moz-appearance:none!important;
}

scrollbox#PlacesToolbarItems toolbarbutton .toolbarbutton-icon
{
height:16px!important;
opacity:.5;
width:16px!important;
-moz-transition:all .1s linear;
}

scrollbox#PlacesToolbarItems toolbarbutton:hover .toolbarbutton-icon
{
opacity:1;
}
   
scrollbox#PlacesToolbarItems toolbarbutton:hover
{
background:#EBEBEB!important;
border-left:1px solid #EBEBEB!important;
border-right:1px solid #EBEBEB!important;
box-shadow:#EBEBEB 0 -1px 3px;
}
  
scrollbox#PlacesToolbarItems toolbarbutton:active
{
background:#EBEBEB!important;
border-left:1px solid #EBEBEB!important;
border-right:1px solid #EBEBEB!important;
}
   
scrollbox#PlacesToolbarItems toolbarbutton:first-child,
scrollbox#PlacesToolbarItems toolbarbutton:first-child:hover,
scrollbox#PlacesToolbarItems toolbarbutton:first-child:active
{
 border-left:0!important;
}

/* Gray icon saying plugin is active and providing option to block */
#plugins-notification-icon{
  width: 0px !important;
  margin-left: -7px !important;
  margin-right: -5px !important;
}

}
